.white{
    color: #f0f0f0;
}

.center {
    margin: auto;
    width: 50%;
}

.w100 {
    width: 100px;
}

.fs-13 {
    font-size: 13px;
}

.fs-25 {
    font-size: 25px;
}

.pt-15 {
    padding-top: 15px;
}

.font-arial {
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}